// ==============================
// Custom style
// 自定义样式
// ==============================

.wrap-around {
    display: inline-block;
}

.wrap-around img {
    float: left;
    padding: 8px 2.5% 2.5% 0; // p heeft 8 px margin, 12pt=16px en lineheight = 1.5x, maar met div heeft ie dat niet.
}
  
.wrap-around p {
    text-align: left;
}

.wrap-around ul {
    overflow: auto;
}

.wrap-around a div {
    height: max-content;
}