// ==============================
// Custom style
// 自定义样式
// ==============================

.wrap-around {
    display: inline-block;
    
    img {
        float: left;
        padding: 8px 2.5% 2.5% 0; // p heeft 8 px margin, 12pt=16px en lineheight = 1.5x, maar met div heeft ie dat niet.
    }    
    p {
        text-align: left;
    }
    ul {
        overflow: auto;
    }
    a div {
        height: max-content;
    }
}

@media only screen and (max-width: 680px) {
    #content {
        #about_image {
            width: 100% !important;
        }
    }
}

#centered_company {
    display: flex;
    justify-content: center; 
    width: 52%;

    .flex-center {
        display: flex;
        flex-wrap: wrap; /* Allows elements to wrap when not enough space */
        justify-content: center; /* Center-aligns the elements horizontally */
        align-items: center; /* Center-aligns the elements vertically */
        i {
            white-space: preserve nowrap;
        }
    
      }

  }