// ==============================
// Override Variables
// 覆盖变量
// ==============================

.katex {
    overflow-x: auto;
    overflow-y: hidden;
    // padding-block: 10px;
    padding: 3px;
  }