// ==============================
// Custom style
// 自定义样式
// ==============================


// for cites.
.container {
    overflow: hidden;
}

.wrap-around {
    display: inline-block;
    width: 100%;
    
    img {
        float: left;
        margin: 6pt 2.5% 2.5% 0;
    }    
    p {
        text-align: left;
    }

    ul {
        overflow: auto;
        margin-top: 0 !important;
    }

    #ul {
        margin-top: 0;
    }

    a div {
        height: max-content;
    }

}

@media only screen and (max-width: 680px) {
    #content {
        #about_image {
            width: 100% !important;
        }
    }
}

#centered_company {
    display: flex;
    justify-content: center; 

    .flex-center {
        display: flex;
        flex-wrap: wrap; /* Allows elements to wrap when not enough space */
        justify-content: center; /* Center-aligns the elements horizontally */
        align-items: center; /* Center-aligns the elements vertically */
        i {
            white-space: preserve nowrap;
        }
    
      }

  }