// ==============================
// Custom style
// 自定义样式
// ==============================



// for cites.
.container {
    overflow: hidden;
}


.wrap-around {
    display: inline-block;
    width: 100%;
    
    img {
        float: left;
        margin: 6pt 2.5% 2.5% 0;
    }    
    p {
        text-align: left;
    }

    ul {
        overflow: auto;
        margin-top: 0 !important;
        padding-left: 1.5rem !important;
    }

    #ul {
        margin-top: 0;
    }

    a div {
        height: max-content;
    }

}

@media only screen and (max-width: 680px) {
    #content {
        #about_image {
            width: 100% !important;
        }
    }
}



// FRONTPAGE STYLING
#my-name-is-before, #hire-text-before{
    display: none;
}
#my-name-is-after p {
    margin-top: 0 !important;
}
@media only screen and (max-width: 704px) {
    #my-name-is-after{
        display: none;
    }
    #my-name-is-before{
        display: block;
    }
}

@media only screen and (max-width: 590px) {
    #hire-text-after{
        display: none;
    }
    #hire-text-before{
        display: block;
    }
}

#pf_home {
    max-width: 47.5%;
}

@media only screen and (max-width: 480px) {
    #hire-text-after{
        display: block;
    }
    #hire-text-before{
        display: none;
    }
    #img-container {
        height: 90vmin;
        overflow: hidden;
    }
    #pf_home {
        max-width: 100%;
        width: 100%;
        margin: -20vmin 0 0rem 0;
    }
    .wrap-around ul {
        padding-left: 2.5rem !important;
        // margin-top: 0.5rem !important;
    }
    .wrap-around img {
        margin-bottom: $global-line-height;
    }
}

#centered_company {
    display: flex;
    justify-content: center; 

    .flex-center {
        display: flex;
        flex-wrap: wrap; /* Allows elements to wrap when not enough space */
        justify-content: center; /* Center-aligns the elements horizontally */
        align-items: center; /* Center-aligns the elements vertically */
        i {
            white-space: preserve nowrap;
        }
    
      }
  }